<div class="container" style="margin-top:30px; margin-bottom:60px;">
  <div class="row" style="margin-left:80px; margin-right:80px;">
<center>
<h1>MRI 동의서</h1> <br>
</center>
 <section> 제1조 (목적)
이 약관은 ㈜클래스에이드(이하 ‘회사’)가 회원에게 온라인 서비스를 제공하기 위하여 운영하는 www.classade.com (이하 ‘클래스에이드’)의 이용과 관련하여 회사와 회원의 권리 및 의무 기타 필요한 사항을 규정함을 목적으로 합니다.
<hr>제 2 조 (정의)
이 약관에서 사용하는 용어의 정의는 다음 각호와 같습니다.
1. 서비스 : 사유 여하를 불문하고, 회사가 운영하는 클래스에이드를 통하여 회원에게 제공하는 일체의 용역(회사와 제휴한 온라인서비스 제공자가 제공하는 용역을 회원이 이용하는 경우에는 제휴 온라인서비스 제공자가 제공하는 용역을 포함합니다)
2. 유료서비스 : 회사가 유료로 제공하는 각종 온라인디지털콘텐츠(각종 정보콘텐츠, 아이템 기타 유료콘텐츠를 포함) 기타 일체의 서비스
3. 회원 : 회사의 서비스에 접속하여 이 약관에 따라 회사와 이용계약을 체결한 뒤 회사가 제공하는 서비스를 이용하는 고객
4. 아이디(ID) : 회원의 식별 및 서비스 이용을 위하여 회원이 선정하고 회사가 승인하는 문자 또는 숫자의 조합
5. 비밀번호 : 서비스를 이용함에 있어, 회원의 아이디(ID)와 일치되는 회원임을 확인하고, 회원의 비밀 보호를 위해 회원 자신이 설정한 문자 또는 숫자의 조합
6. 포인트 : 마일리지 등과 같이 서비스의 효율적 이용을 위해 회사가 임의로 책정 또는 지급, 조정할 수 있는 재산적 가치 없는 서비스상의 가상 데이터
7. 게시물 : 회원이 서비스를 이용함에 있어, 서비스상에 게시한 부호ㆍ문자ㆍ음성ㆍ음향ㆍ화상ㆍ동영상 기타 정보 형태의 글, 사진, 동영상 및 각종 파일과 링크
8. 해지 : 서비스 개통 후 회사 또는 회원이 이용계약의 효력을 상실시키는 행위<hr>
제3조 (약관의 게시 및 개정)
1. 회사는 이 약관의 내용을 회원이 쉽게 확인할 수 있도록 회사의 인터넷 홈페이지(www.classade.com)서비스 초기 화면에 이를 게시합니다.
2. 회사는 회원에게 제공하는 서비스의 품질 향상 기타 필요한 경우, ‘정보통신망이용촉진및정보보호등에관한법률(이하 ‘정보보호법’)’, ‘약관의규제에관한법률(이하 ‘약관규제법’)’ 기타 관련법령을 위배하지 아니하는 범위 내에서 이 약관을 개정할 수 있습니다.
3. 회사가 이 약관을 개정하고자 할 경우, 회사는 개정 약관의 효력발생일을 명시하여 현행 약관과 함께 개정 약관의 효력발생일 30일 전부터 1항의 방법으로 개정약관을 공지합니다. 단, 회원의 권리ㆍ의무에 중대한 영향을 미치는 개정이 아닌 때에는 효력발생일 7일 전부터 이를 공지할 수 있습니다.
4. 개정 약관의 효력발생일 이후 회원이 서비스를 이용하는 경우, 회사는 회원이 개정 약관에 동의한 것으로 봅니다. 단, 회원이 개정 약관에 동의하지 아니할 때에는 회원은 회사에 대하여 회원의 탈퇴 기타 이용계약을 해지할 수 있습니다.
5. 유료서비스를 이용하는 회원이 이 약관의 개정에 동의하지 아니하여 이용계약을 해지한 때에는 이 약관이 정한 환불정책에 따릅니다.
6. 회사는 서비스의 품질 향상, 회원 의사의 충족 기타 필요한 경우, 이 약관과 달리 개별약관을 둘 수 있고, 이 경우 1항 내지 5항을 준용합니다.<hr>
제4조 (약관의 적용)
전기통신사업법, 정보보호법, 약관규제법 기타 관련법령의 규정 중 강행규정과 이 약관의 내용이 서로 다른 경우에는 강행규정을 적용하고, 전기통신사업법, 정보보호법, 약관규제법 기타 관련법령의 규정 중 임의규정 또는 전기통신사업법, 정보보호법, 약관규제법 기타 관련법령에 규정되지 아니한 사항에 대하여는 이 약관을 적용합니다.
<hr>제 5 조 (이용계약의 체결)
1. 이용계약은 회원이 되고자 하는 자(이하 ‘가입신청자’)가 이 약관의 내용에 대하여 동의를 한 후 회원가입 신청을 하고, 회사가 위 신청에 대하여 승낙함으로써 체결됩니다.
2. 1항에 의한 가입신청자의 신청에 대하여, 회사는 원칙적으로 서비스의 이용을 승낙합니다. 단, 회사는 다음 각 호의 1에 해당하는 신청에 대하여는 그 사유가 해소될 때까지 승낙을 하지 아니하거나 별도의 절차 없이 이용계약을 해지할 수 있습니다.
1) 가입신청자가 회원 자격을 상실한 사실이 있는 경우. 단, 회원 자격을 상실한 날로부터 1년이 경과한 자로서 회사의 재가입 승낙을 얻은 경우에 는 그러하지 아니합니다.
2) 가입신청자의 실명이 아니거나 타인의 명의를 이용한 경우
3) 가입신청자가 허위의 정보를 기재한 경우
4) 회사가 요구한 정보를 가입신청자가 제공하지 아니한 경우
5) 미성년자인 가입신청자가 법정대리인의 동의를 얻지 아니한 경우
6) 기타 회원의 책임있는 사유로 인하여 회사가 승낙할 수 없는 경우
7) 기타 회사가 필요하다고 인정한 경우
3. 1항에 의한 가입신청자의 신청에 대하여, 회사는 전문기관을 통한 실명확인 및 본인인증을 요청할 수 있습니다.
4. 1항에 의한 가입신청자의 신청에 대하여, 회사는 서비스 설비의 부족 기타 회사의 사정을 이유로 그 승낙을 유보할 수 있습니다.
5. 2항 또는 4항에 따라 회사가 회원가입 신청의 승낙을 하지 아니하거나 이를 유보한 경우, 회사는 가입신청자에게 이 사실을 알릴 수 있습니다.
6. 이용계약은 회원가입 절차상 회사가 가입완료를 표시한 시점에 성립합니다.
7. 회사는 서비스의 품질 향상 기타 필요한 경우, 회원을 등급별로 구분하여 이용시간, 이용횟수, 서비스 메뉴 기타 필요한 사항을 세분하여 그 이용에 차등을 둘 수 있습니다.
8. 회사는 회원에 대하여 영화및비디오물의진흥에관한법률, 청소년보호법 기타 관련법령에 따른 등급 및 연령 준수를 위하여 이용제한이나 등급별 제한 기타 필요한 조치를 취할 수 있습니다.
9. 회원이 이 약관에 동의함은 클래스에이드에서 제공하거나 제공할 모든 서비스에 동의하는 것으로 봅니다.
<hr>제 6 조 (회원 정보의 변경 등)
1. 회원은 개인정보 관리화면을 통하여 언제든지 본인의 개인정보를 열람할 수 있고, 회사가 인정하는 경미한 내용을 변경 또는 수정할 수 있습니다. 단, 서비스 관리를 위하여 필요한 실명, 생년월일, 성별, 아이디 기타 회사가 정한 사항은 변경 또는 수정할 수 없습니다.
2. 회원은 회원가입 신청 시 기재한 사항이 변경되었을 경우, 즉시 개인정보 관리화면을 통하여 이를 수정하거나 이메일 기타 회사가 정한 방법으로 회사에 대하여 그 변경사항을 알려야 합니다.
3. 2항의 변경사항을 회사에 알리지 아니함으로써, 회원이 입은 불이익에 대하여 회사는 회원 또는 제3자에 대하여 손해배상 기타 일체의 책임을 부담하지 아니하고, 회사 또는 회사와 제휴한 온라인서비스 제공자가 입은 불이익에 대하여 회원은 손해배상 기타 일체의 책임을 부담합니다.
<hr>제 7 조 (개인정보 보호 및 도용에 대한 책임 등)
1. 회사는 『정보통신망이용촉진및정보보호에관한법률』상의 개인정보보호규정 및 정보통신부가 제정한 『개인정보 보호법』등 관련 법령이 정하는 바에 따라 회원의 개인정보를 보호하기 위하여 최선의 노력을 하고 개인정보 보호 및 사용에 대하여 관련법령 및 회사의 개인정보 취급방침을 적용합니다.
단, 회사의 사이트에 공식적으로 링크된 이외의 사이트에 대하여는 회사의 개인정보취급방침이 적용되지 아니합니다.
2. 회원은 가입 또는 정보 변경 시 반드시 본인의 이름, 생년월일 등 기타 정확한 본인 정보를 입력하여야 하며 타인의 정보 도용 등 허위정보를 입력할 경우 서비스 이용이 제한되거나 관련 법령에 의거 처벌받을 수 있습니다.
3. 판매자의 경우 자료 판매 시 정확한 개인정보를 바탕으로 본인인증 절차를 거쳐야 합니다. 만일 타인의 정보 도용 등 허위정보를 입력할 경우 거래가 정지 될 수 있으며, 관련 법령에 의거 처벌받을 수 있습니다.
4. 게시물은 반드시 본인에게 저작권이 있는 자료만 등록하여야 합니다. 만일 저작권 관련 분쟁 시 모든 책임은 판매자 본인에게 있으며, 저작권법 등 관련법령 및 회사가 정한 절차에 따라 필요한 조치를 취합니다.
<hr>제 8 조 (회원의 아이디 및 비밀번호의 관리 등)
1. 회원의 아이디와 비밀번호에 대한 관리책임은 회원에게 있고, 회원은 제3자에게 이를 알리거나 알게 하여서는 아니됩니다. 제3자가 이를 이용하여 회사 또는 회사와 제휴한 온라인서비스 제공자가 제공하는 서비스를 이용하게 하여서도 아니됩니다.
2. 다음 각호의 1에 해당하는 경우, 회사는 회원의 아이디 사용을 제한할 수 있습니다.
1) 회원의 아이디가 회원의 개인정보를 유출할 우려가 있는 경우
2) 회원의 아이디가 반사회적이거나 또는 미풍양속에 어긋나는 경우
3) 회원의 아이디가 회사 또는 회사의 운영자로 오인할 우려가 있는 경우
4) 기타 회사가 필요하다고 인정한 경우
3. 회원이 회원의 아이디 또는 비밀번호가 유출되었거나 제3자가 이를 사용하고 있음을 안 경우, 회원은 즉시 회사에 이를 통지하고, 회사의 안내에 따라야 합니다.
4. 3항의 경우, 회원이 회사에 대하여 유출 사실 또는 제3자의 사용 사실을 통지하지 아니하거나 또는 회사의 안내에 따르지 아니함으로써, 회원이 입은 불이익에 대하여 회사는 회원 또는 제3자에 대하여 손해배상 기타 일체의 책임을 부담하지 아니하고, 회사 또는 회사와 제휴한 온라인서비스 제공자가 입은 불이익에 대하여 회원은 손해배상 기타 일체의 책임을 부담합니다.
<hr>제 9 조 (회원에 대한 통지)
1. 회사가 회원에 대하여 통지할 필요가 있는 경우, 전기통신사업법 기타 관련법령 및 이 약관에 별도의 규정이 없는 한 회원이 회사에 제시한 이메일주소로서 그 통지를 할 수 있습니다.
2. 회사는 회원의 전부 또는 등급별, 판매자별, 구매자별로 통지를 할 필요가 있는 경우, 7일 이상 회사의 인터넷 홈페이지 게시판에 게시함으로써 1항의 통지에 갈음할 수 있습니다.
<hr>제 10 조 (회사의 방침)
1. 회사는 전기통신사업법 기타 관련법령을 위반하지 아니하며, 회원에게 계속적이고 안정적인 서비스를 제공하기 위하여 최선의 노력을 다합니다.
2. 회사는 회원이 안전하게 서비스를 이용할 수 있도록 개인정보(신용정보 포함) 보호를 위한 보안시스템을 갖추고 있습니다.
3. 필요한 경우, 회사는 회원의 전부 또는 일부의 개인정보에 관한 통계자료를 작성하여 회사의 마케팅자료 또는 광고자료로 활용할 수 있습니다. 단, 이 경우에도 회사는 개인정보의 보호 기타 관련법령에서 정한 규정을 준수합니다.
4. 서비스 이용 관련하여 회원이 제기한 불만 기타 의견이 정당하다고 회사가 인정한 경우, 회사는 관련 규정 및 절차를 통하여 이를 처리합니다. 회원이 제기한 불만 기타 의견에 대한 회사의 처리 결과에 대하여는 회원에게 게시판, 이메일 기타 적절한 방법으로 이를 통지합니다.
<hr>제 11 조 (회원의 의무)
1. 회원은 다음 각호의 1에 해당하는 행위를 하여서는 아니됩니다.
1) 회원가입의 신청 또는 회원정보의 변경시 허위내용을 기재하는 행위
2) 제3자의 개인정보를 도용하는 행위
3) 회사가 게시한 정보를 변경하는 행위
4) 회사 기타 제3자의 저작권 기타 일체의 권리를 침해하는 행위
5) 회사 기타 제3자에 대한 명예훼손, 업무방해 기타 불법행위
6) 외설 또는 폭력적인 메시지, 화상, 음성 기타 선량한 풍속에 반하는 정보, 문장, 도형 등을 서비스에 공개 또는 게시하거나 제3자에게 유포하는 행위
7) 회사의 사전 서면에 의한 동의 없이 영리를 목적으로 서비스를 이용하는 행위
8) 회사의 사전 서면에 의한 동의 없이 회사로부터 얻은 정보를 제3자에게 제공하거나 기타 방법으로 회원 자신의 이용 이외의 목적으로 사용하는 행위
9) 기타 관련법령에 위배되는 행위
2. 회원은 정보보호법 기타 관련법령, 이 약관, 이용안내 기타 회사가 서비스와 관련하여 공지한 사항을 준수하여야 합니다.
3. 회원은 회사가 별도로 공지한 이용제한 사항을 준수하여야 합니다.
4. 회원은 회사의 사전 서면에 의한 동의 없이 회사로부터 서비스를 받을 수 있는 권리, 권한을 증여하거나 양도 또는 담보제공 기타 일체의 처분행위를 하여서는 아니됩니다.
5. 회원이 1항 내지 4항에 규정한 사항을 위반한 경우, 회사는 회원 또는 제3자에 대하여 민ㆍ형사상 일체의 책임을 부담하지 아니하고, 회원은 회사 또는 회사와 제휴한 온라인서비스 제공자에 대하여 민ㆍ형사상 일체의 책임을 부담합니다.
6. 허위의 구인광고 또는 허위의 구인조건을 제시한 참여기업은 직업안정법 제47조에 의하여 5년 이하의 징역 또는 2,000만원 이하의 벌금에 처해집니다.
<hr>제 12 조 (서비스의 제공 등)
1. 회사는 회원에게 다음 각호의 서비스를 제공합니다.
1) 자료구매 서비스
2) 자료판매 서비스
3) 검색서비스
4) 기타 회사 또는 회사와 제휴한 온라인서비스 제공자가 회원에게 제공하는 일체의 서비스
2. 서비스는 연중무휴, 1일 24시간 제공을 원칙으로 합니다.
3. 컴퓨터 등 정보통신 설비의 보수점검, 교체 및 고장, 통신 두절, 서비스 설비의 장애, 서비스 이용의 폭주 또는 운영상 상당한 이유가 있는 경우, 회사는 서비스의 제공을 일시적으로 중단하거나 제한할 수 있고, 이 경우 회사는 제9조에 정한 방법으로 회원에게 통지합니다. 단, 회사가 사전에 통지할 수 없는 부득이한 사유가 있는 때에는 사후에 이를 통지할 수 있습니다.
4. 회사는 서비스의 품질향상 기타 필요한 경우, 정기점검을 실시할 수 있고, 정기점검 시간, 방법 기타 필요한 사항은 서비스 제공화면에 공지한 바에 따릅니다.
5. 회사는 서비스를 일정범위로 분할하여 각 범위 별로 이용가능시간을 별도로 지정할 수 있습니다. 단, 이러한 경우 회사는 회원에게 그 내용을 제9조에 정한 방법으로 공지합니다.
<hr>제 13 조 (서비스의 변경 등)
1. 서비스의 품질향상, 운영상ㆍ기술상의 필요 기타 회사가 인정하는 상당한 사유가 있는 경우, 회사는 회원에게 제공하는 서비스(서비스의 내용, 이용방법, 이용시간 기타 사항)의 전부 또는 일부를 중단, 변경하거나 추가(이하 ‘변경’)할 수 있습니다.
2. 서비스의 품질향상, 운영상ㆍ기술상의 필요, 회사의 정책 기타 회사가 인정하는 상당한 사유가 있는 경우, 회사는 무료로 제공되는 서비스의 전부 또는 일부를 변경할 수 있으며, 이에 대하여 관련법령에 특별한 규정이 없는 한 회사는 회원에게 별도의 보상을 하지 아니합니다.
3. 1항 또는 2항에 의한 서비스를 변경할 경우, 회사는 서비스의 변경 7일 전부터 변경사유 및 변경 내용의 요지 기타 필요한 사항을 제9조 2항에 정한 방법으로 게시합니다.
<hr>제 14 조 (정보의 제공 및 광고의 게재)
1. 회원이 서비스를 이용함에 있어 필요하다고 회사가 인정하는 경우, 회사는 회원에게 다양한 정보를 제9조에 정한 방법 기타 적절한 방법으로 제공할 수 있습니다.
2. 회사는 회원의 사전 동의를 얻은 때에 한하여 1항의 정보를 전화 또는 팩스에 의하여 제공할 수 있습니다.
3. 회사는 서비스의 운영과 관련하여 회사의 서비스화면이나 홈페이지, 회원의 이메일 등을 통하여 광고를 게재할 수 있습니다.
4. 회원이 1항 또는 3항에 의한 정보 또는 광고를 수신한 경우, 회원은 관련법령에 따른 거래관련 정보 및 회원의 질의에 대한 답변, 정보 또는 광고가 회원의 이익을 위한 경우 등을 제외하고는 언제든지 회사에 대하여 이메일 기타 적절한 방법으로 그 수신을 거절할 수 있습니다.
<hr>제 15 조 (자료대금 및 수수료)
1. 종량제 서비스를 이용하여 자료를 판매하는 회원(이하 ‘판매회원’)은 자료 대금을 정하고, 회사는 자료대금의 결정에 대하여 일체 관여하지 아니합니다. 정액제 서비스를 통한 자료 거래 시에는 판매회원이 정한 자료대금과는 무관하며, 회사가 정한 기준에 따라 자료대금이 결정됩니다.
2. 서비스를 이용하여 자료를 구매하는 회원(이하 ‘구매회원’)은 판매회원에게 자료대금을 지급하여야 합니다. 단, 회사는 판매회원을 위하여 구매회원으로부터 자료대금의 수령을 대행할 수 있습니다.
3. 구매회원의 자료대금 지급방법은 종량제 방식과 정액제 방식에 의하고, 판매회원의 수수료 지급 방법은 원천징수방식에 의합니다.
4. 구매회원은 자료대금 결제시에 결제대행사에 지급하여야 하는 결제처리수수료를 포함하여 이를 결제하여야 합니다. 결제처리수수료는 결제대행사가 구매회원의 대금을 결제하는데 소요되는 비용입니다.
5. 판매회원은 현금 자료에 한하여 회사에게 수수료를 지급하여야 합니다. 회사는 종량제 서비스의 경우 판매회원의 종류에 따라 수수료를 차등적으로 적용할 수 있습니다. 정액제 서비스의 경우 판매회원의 종류에 상관없이 동일한 수수료가 적용됩니다.
6. 회사는 구매회원이 지급한 자료대금 중 5항에 의한 수수료 및 제세공과금을 제외한 나머지 금액을 회사 사이트에 개설된 판매회원의 계정에 적립합니다.
7. 판매회원의 적립금액이 회사가 정한 금액 이상인 경우에 한하여, 판매회원은 회사에 대하여 다음 각호의 사항을 기재한 서면을 제출하거나 또는 출금신청화면 기타 회사가 정한 방법을 통하여 일정 금액 단위로 출금을 요청할 수 있습니다. 단, 회사가 판매회원의 실명 및 예금주의 일치를 확인할 수 있는 경우에 한합니다.
1) 판매회원의 거래은행, 계좌번호
2) 출금금액
3) 기타 회사가 필요로 하는 정보
8. 판매회원이 7항에 의한 출금을 요청한 경우, 회사는 판매회원에게 출금 요청 1회당 출금수수료로서 500원을 부과합니다. 출금수수료는 판매회원에 대한 송금과 동시에 적립된 판매회원의 계정에서 적립금을 감액하는 방법으로 부과합니다.
9. 회사가 필요하다고 인정한 경우, 회사는 3항, 5항 내지 8항에 규정된 사항을 변경할 수 있고, 이 경우 제9조 1항을 준용합니다.
<hr>제 16조 (회원의 자료 구매)
1. 서비스 화면에 게시된 자료를 구매하고자 하는 회원과 자료를 열람하고자 하는 회원은 사이트에서 안내하는 절차에 따라 자료를 구매하거나 열람 및 스크랩 하기 직전까지 자료대금, 납부방법 기타 필요한 사항을 확인하여야 하고, 회원이 이를 승낙함과 동시에 회사와의 사이에 자료구매계약(이하 ‘구매계약’)이 성립한 것으로 봅니다.
2. 사유 여하를 불문하고, 회원은 구매계약의 무효, 취소, 해제 기타 구매계약의 효력을 부인하는 일체의 주장을 할 수 없습니다.
3. 2항에도 불구하고, 다음 각호의 1에 해당하는 사유가 발생한 경우, 회원은 회사가 정한 절차에 따라 구매계약을 취소한 뒤 회사에 대하여 환불을 요청할 수 있습니다. 이 경우, 제20조 3항 및 4항을 준용합니다.
종량제 서비스 이용 시
1) 회원에게 저작권이 없는 자료
2) 파일이 손상된 자료
3) 다른 자료와 중복된 자료
4) 기타 회사가 인정하는 자료

정액제 서비스 이용 시
1) 자료 열람 및 스크랩이 1건도 없는 상태
<hr>제 17 조 (게시물의 저작권 등)
1. 회원이 서비스상에 게시한 게시물(이하 ‘게시물’)의 저작권은 해당 게시물의 저작자에게 있습니다. 회사의 결정으로 회원이 등록신청(upload)한 게시물을 회사 또는 회사와 제휴한 온라인서비스 제공자가 운영하는 사이트에 등록한 경우에도, 사유 여하를 불문하고, 회사 또는 회사와 제휴한 온라인서비스 제공자의 게시물 등록에 대하여 회사가 게시물을 등록신청한 회원에게 게시물의 저작권을 인정한 것으로 간주되거나 추정되지 아니한다.
2. 회원이 서비스상에 게시한 게시물은 검색결과 내지 서비스 프로모션 등에 노출될 수 있으며, 해당 노출을 위하여 필요한 경우, 회사는 게시물을 일부 수정하거나 편집 기타 방법으로 이를 게시할 수 있습니다. 이 경우, 회원은 회사에 대하여 해당 게시물의 삭제, 검색결과 제외, 비공개 기타 필요한 조치를 요청할 수 있습니다.
<hr>제 18 조 (게시물의 관리 등)
1. 회사는 회원에 대한 별도의 조치 없이 회원이 서비스상에 게시한 게시물을 편집하거나 이동할 수 있는 권리를 보유합니다.
2. 회원의 게시물이 저작권법, 정보보호법 기타 관련법령에 위반되는 내용을 포함하는 경우, 권리자는 관련법령이 정한 절차에 따라 해당 게시물의 게시중단, 삭제 기타 필요한 조치를 요청할 수 있고, 회사는 관련법령 및 회사가 정한 절차에 따라 필요한 조치를 취합니다.
3. 2항에 따른 권리자의 요청이 없는 경우라도 다음 각호의 1에 해당하는 경우, 회사는 관련법령 및 이 약관에 따라 별도의 조치 없이 해당 게시물에 대한 게시중단, 삭제 기타 필요한 조치를 취할 수 있습니다.
1) 해당 게시물이 저작권법 기타 관련법령을 위반하거나 위반할 우려가 있는 경우
2) 해당 게시물이 제3자의 권리를 침해하거나 침해할 우려가 있는 경우
3) 해당 게시물이 이 약관이나 회사의 정책에 위반되거나 위반될 우려가 있는 경우
4) 기타 해당 게시물의 게시중단, 삭제 기타 조치를 취할 필요가 있다고 회사가 인정한 경우
4. 회원의 게시물이 제3자의 저작권 기타 재산권을 침해함으로써 발생하는 일체의 민ㆍ형사상 책임에 대하여,회사는 이를 일체 부담하지 아니합니다.
<hr>제 19 조 (권리의 귀속 등)
1. 서비스에 대한 저작권 및 지적재산권은 회사에 있습니다. 단, 회원의 게시물, 저작물 등은 그러하지 아니합니다.
2.회사는 서비스와 관련하여 회원에게 회사가 정한 이용조건에 따라 계정, 아이디, 콘텐츠, 포인트 등을 이용할 수 있는 이용권만을 부여하며, 회원은 이를 증여하거나 양도 또는 담보제공 기타 일체의 처분행위를 하여서는 아니됩니다.
3. 회사는 서비스의 효율적 이용 및 운영을 위하여 제9조에 정한 방법에 따라 포인트의 전부 또는 일부를 조정할 수 있고, 포인트는 회사가 정한 기간에 따라 주기적으로 소멸합니다. 포인트의 조정 및 소멸에 대하여 회원은 회사가 정한 절차에 따라 이의를 신청할 수 있고, 이 경우, 회사는 관련 규정 및 절차를 통하여 이를 처리합니다.
<hr>제 20 조 (계약의 해지 등)
1. 회원은 언제든지 회사가 정한 절차에 따라 서비스 이용계약을 해지할 수 있고, 해지신청을 받은 회사는 다음 각호의 방법으로 회원 본인의 해지의사를 확인하여야 하며, 회사가 본인의 해지의사를 확인함과 동시에 별도의 절차 없이 이용계약은 효력을 상실합니다. 단, 회원이 회사 또는 제3자에 대하여 민ㆍ형사상의 책임을 부담하는 등 회사가 필요하다고 인정한 경우, 회사는 이용계약의 효력을 존속시킬 수 있습니다.
1) 회원 본인 또는 적법한 대리인이 홈페이지 탈퇴신청 화면에서 계약 해지 신청
2) 신분증사본을 팩스로 송부하는 등 전화, 팩스, 이메일 기타 방법으로 회사에 대하여 회원이 본인의 해지의사를 명백히 밝히는 경우. 단, 회사가 회원 본인임을 확인한 경우에 한합니다.
2. 다음 각 호의 1에 해당하는 사유가 발생한 경우, 회사는 별도의 조치 없이 이용계약을 해지할 수 있습니다.
1) 회원이 회사의 명예를 훼손한 경우
2) 회원이 서비스의 제공 기타 회사의 업무를 방해한 경우
3) 회원이 다른 회원의 ID 또는 비밀번호를 도용한 경우
4) 회원가입의 신청 또는 개인정보의 수정시 회사에 허위의 정보를 제공한 경우
5) 회원이 회사의 사전 서면에 의한 동의 없이 서비스를 이용하여 영리활동을 한 경우
6) 기타 회사가 필요하다고 인정한 경우
3. 1항 또는 2항에 의하여 이용계약이 해지된 경우, 회원이 등록한 자료는 별도의 절차 없이 삭제되며, 회원이 보유한 이용권, 쿠폰, 포인트 기타 회사에 대한 권리, 권한은 모두 소멸합니다. 단, 이용계약 해지일 기준 회사에 대한 회원의 자료대금, 충전대금 기타 금액에 대하여는 회사가 정한 절차에 따라 회원에게 송금수수료 기타 필요한 비용을 제외한 나머지 금액을 송금하거나 기타 방법으로 반환합니다.
4. 3항에 의하여 회사가 회원에게 나머지 금액을 지급하여야 할 경우, 회원은 [고객센터 1:1문의하기] 기타 회사가 안내한 절차에 따라 그 반환을 요청하여야 합니다.
<hr>제 21 조 (이용제한 등)
1. 회원이 관련법령 또는 이 약관의 의무를 위반하거나 기타 필요한 경우, 회사는 회원에 대하여 경고, 서비스의 전부 또는 일부의 이용정지 등 서비스의 이용을 단계적으로 제한할 수 있습니다.
2. 1항에도 불구하고, 다음 각호의 1에 해당하는 사유가 발생한 경우, 회사는 별도의 조치 없이 즉시 회원에 대하여 이용계약을 해지할 수 있습니다.
1) 주민등록법 기타 관련법령을 위반한 명의 도용 또는 결제 도용
2) 저작권법 또는 컴퓨터프로그램보호법 기타 관련법령을 위반한 불법 저작물, 프로그램의 제공 또는 운영 방해
3 )정보보호법 기타 관련법령을 위반한 불법통신 및 해킹, 악성 프로그램의 배포, 접속권한의 초과행위
4) 기타 1호 내지 3호에 준하는 행위
3. 2항에 의하여 이용계약이 해지된 경우, 서비스 이용을 통하여 회원이 획득한 포인트 기타 혜택은 별도의 조치 없이 모두 소멸되고, 회사는 이에 대하여 별도의 보상을 하지 아니합니다. 단, 이용계약이 해지된 경우, 해지일 기준 회사에 대한 회원의 자료대금, 충전대금 기타 금액에 대하여는 회사가 정한 절차에 따라 회원에게 송금수수료 기타 필요한 비용을 제외한 나머지 금액을 송금하거나 기타 방법으로 반환합니다.
4. 회원이 계속하여 3개월 이상 로그인하지 아니하거나 기타 필요한 경우, 회사는 회원정보의 보호 및 운영의 효율성을 위하여 회원에 대한 경고, 이용제한기타 회사가 정한 조치를 취할 수 있습니다.
5. 본 조에 의한 경고, 이용정지, 이용계약의 해지 기타 회사가 정한 조치 등 구체적인 조건 및 세부내용은 회사의 이용제한정책 및 개별 서비스상의 운영정책에서 정하는 바에 의합니다.
6. 본 조에 따라 회원에 대하여 경고, 이용정지, 이용계약의 해지 기타 회사가 정한 조치를 취하는 경우, 회사는 회원에게 제9조에 정한 방법으로 이를 통지합니다.
7. 본 조에 따른 회사의 조치에 대하여, 회원은 회사가 정한 절차에 따라 이의신청을 할 수 있습니다.
<hr>제 22 조 (책임 제한 등)
1. 천재지변 기타 불가항력으로 인하여 회사가 서비스를 제공할 수 없는 경우, 회사는 회원에 대하여 서비스 제공에 관한 책임이 면제됩니다.
2. 회사는 회원의 책임 있는 사유로 인한 서비스 이용의 장애에 대하여는 일체의 책임을 부담하지 아니합니다.
3. 회사는 회원이 서비스와 관련하여 게재한 정보, 자료, 사실의 신뢰도, 정확성 등의 내용에 관하여는 일체의 책임을 부담하지 아니합니다.
4. 사유 여하를 불문하고, 회원이 서비스를 이용하여 기대하였던 수익, 이익을 얻지 못하거나 서비스를 통하여 얻은 자료로 인하여 손해 기타 불이익을 입은 경우에도 회사는 이에 대하여 일체의 책임을 부담하지 아니합니다.
5. 회원 상호간 또는 회원과 제3자 상호간에 서비스를 매개로 하여 거래 등을 한 경우, 회사는 이에 대하여 일체의 책임을 부담하지 아니합니다.
6. 무료로 제공되는 서비스 이용과 관련하여 관련법령에 특별한 규정이 없는 한 회사는 이에 대하여 일체의 책임을 부담하지 아니합니다.</section>
  </div>

	<CENTER>

<div class="container">
<table>
<tr> 
<th style="padding:50px; padding-left:100px;"> <h3><%= @term.name %></h3> </th>
<th>  <p><%= image_tag @term.signature, class: "resize" %> </p>
  <p>서명시간: <%= @term.signed_on %> </p> 
</th>
 </tr>
 </table>
</div>
					 <a class="btn btn-default" href="javascript:history.back()"> 뒤로 </a>

</CENTER>



